@font-face {
  font-family: 'iconfont';  /* project id 2482072 */
  src: url('https://at.alicdn.com/t/font_2482072_9flvildkmro.eot');
  src: url('https://at.alicdn.com/t/font_2482072_9flvildkmro.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2482072_9flvildkmro.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2482072_9flvildkmro.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2482072_9flvildkmro.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2482072_9flvildkmro.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icondaifahuo:before {
  content: "\e60c";
}

.icontuikuan:before {
  content: "\e85d";
}

.icondaifukuan:before {
  content: "\e60d";
}

.icondaishouhuo:before {
  content: "\e641";
}

.iconpingjia1:before {
  content: "\e639";
}

.iconzhanghu:before {
  content: "\e659";
}

.iconzhibo:before {
  content: "\e606";
}

.iconsuo:before {
  content: "\e608";
}

.iconfenxiang:before {
  content: "\e658";
}

.icondizhi:before {
  content: "\e613";
}

.iconshezhi:before {
  content: "\e623";
}

.iconzuanshi-copy:before {
  content: "\e609";
}

.iconzuji:before {
  content: "\e786";
}

.iconshoucang:before {
  content: "\e60a";
}

.iconorder:before {
  content: "\e60b";
}

.iconyouhuiquan:before {
  content: "\e62b";
}

.icongouwuche11:before {
  content: "\e605";
}

.iconxiaoxi:before {
  content: "\e604";
}

.iconzhuye:before {
  content: "\e603";
}

.iconwujieguo:before {
  content: "\e622";
}

.icongonggao:before {
  content: "\e619";
}

.iconxiaoyuhao-copy-copy:before {
  content: "\e62e";
}

.icondianzan-copy:before {
  content: "\e600";
}

.iconhuangguan:before {
  content: "\e601";
}

.iconTOP:before {
  content: "\e607";
}

.icongouwuche1:before {
  content: "\e602";
}

.iconhuo:before {
  content: "\e60e";
}

.iconkefu:before {
  content: "\e709";
}

.icongouwuche:before {
  content: "\e697";
}

.iconsiyecao:before {
  content: "\e73b";
}

.iconsaoma:before {
  content: "\e78d";
}

.iconsousuo:before {
  content: "\e647";
}

